<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>å¾®å•†åŸ</title>
		<meta name="Author" content="zsx">
		<link rel="stylesheet" href="../js/sui/sm.min.css">
		<link rel="stylesheet" href="../js/sui/sm-extend.min.css">
		<link rel="stylesheet" href="../js/sui/style.css" />
		<style>
			.content {
				background-color: #f9f9f9;
				box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
			}
			
			.me-swiper {
				position: relative;
				top: -20px;
			}
			
			@media only screen and (min-width: 100px) and (max-width: 640px) {}
			
			.media-list .item-content {
				margin: 4px 0;
			}
			
			.icon-cart-me-1 {
				position: absolute;
				bottom: 1rem;
				right: 1rem;
			}
			
			.icon-cart-me-2 {
				float: right;
				margin: 0 .5rem .2rem 0;
			}
			
			.row img {
				width: 100%;
				height: auto;
			}
			
			.col-50 {
				border: 1px solid #e5e5e5;
				margin: 4px 0;
			}
		</style>
	</head>

	<body>

		<div class="page-group">
			<div class="page page-current">
				<!-- ä½ çš„htmlä»£ç  -->

				<!-- æ ‡é¢˜æ  -->
				<header class="bar bar-nav">
					<!--<a class="icon icon-me pull-left open-panel"></a>-->
					<a class="icon icon-left pull-left open-panel" href="javascript: history.go(-1);"></a>

					<h1 class="title">ä¸­å¤§çœ¼ç§‘</h1>
				</header>

				<nav class="bar bar-tab">
					<a class="tab-item external active" href="homePage0101.html">
						<span class="icon icon-home"></span>
						<span class="tab-label">é¦–é¡µ</span>
					</a>
					<a class="tab-item external" href="detail0108.html">
						<span class="icon icon-cart"></span>
						<span class="tab-label">è®¢å•</span>
					</a>
					<a class="tab-item external" href="#">
						<span class="icon icon-me"></span>
						<span class="tab-label">æˆ‘</span>
					</a>
					<!--<a class="tab-item external" href="#">
						<span class="icon icon-settings"></span>
						<span class="tab-label">è®¾ç½®</span>
					</a>-->
				</nav>

				<div class="content">
					<!-- è¿™é‡Œæ˜¯é¡µé¢å†…å®¹åŒº -->
					<div class="swiper-container" style="padding-bottom: 0px;">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="image in imageList">
								<!--<img src="{{image.url}}" alt="" style='width: 100%'>-->
								<img v-bind:src="image.url" alt="" style='width: 100%'>
							</div>

						</div>
						<!--  -->
						<div class="swiper-pagination me-swiper"></div>
					</div>

					<!-- ä¼˜æƒ åˆ¸ -->
					<!--<ul style="text-align: center;list-style:none;">
						<li style="display: inline-block;

    height: 67px;
    border: 1px solid #ff93b2;
    border-radius: 4px;
    background: #ffeaec;
    vertical-align: bottom;">
							<a style="color:#fa5262" href="https://h5.koudaitong.com/v2/ump/promocard/fetch?alias=sjh0e1fw">
								<div class="custom-coupon-price" style="height: 24px;
    line-height: 24px;
    padding-top: 12px;
    font-size: 24px;
    overflow: hidden;">
									<span>ï¿¥</span>5.00 </div>
								<div class="custom-coupon-desc" style="    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding-top: 4px;
    overflow: hidden;">
									æ»¡60.00å…ƒå¯ç”¨
								</div>
							</a>
						</li>
					</ul>-->

					<!-- çƒ­é—¨å•†å“åŒº -->
					<div class="content-block-title">çƒ­é—¨å•†å“</div>
					<div class="card">
						<div class="card-content">
							<div class="card-content-inner">
								<div class="list-block media-list hotGoodsList">
									<ul>
										<li class="item-content" v-for="obj in list">
											<input type="hidden" value="{{obj.id}}" />
											<div class="item-media">
												<img v-bind:src="obj.image" width="120px" />
											</div>
											<div class="item-inner">
												<div class="item-title">{{obj.shortName}}</div>
												<div class="item-after">{{obj.summary}}</div>
												<div class="item-after"><em>ï¿¥{{obj.price}}</em></div>
												<span class="icon icon-cart icon-cart-me-1"></span>
											</div>
										</li>
										
										<!-- <li class="item-content">
											<div class="item-media">
												<img src="images/aaa/4.jpg" width="120px" />
											</div>
											<div class="item-inner">
												<div class="item-title">æ–°å“ä¸Šå¸‚ çœ¼é•œæ¡†</div>
												<div class="item-after"><em>ï¿¥99.00</em></div>
												<span class="icon icon-cart icon-cart-me-1"></span>
											</div>
										</li>

										<li class="item-content">
											<div class="item-media">
												<img src="images/aaa/1.jpg" width="120px" />
											</div>
											<div class="item-inner">
												<div class="item-title">è¿‘è§†çœ¼é•œæ¡† è¶…è½» ç”·æ¬¾</div>
												<div class="item-after">å…è´¹é€é•œç‰‡</div>
												<div class="item-after"><em>ï¿¥99.00</em></div>
												<span class="icon icon-cart icon-cart-me-1"></span>
											</div>
										</li> -->
									</ul>
								</div>

							</div>
						</div>
					</div>

					<!-- å•†å“åˆ—è¡¨ -->
					<div class="content-block-title">å…¨éƒ¨å•†å“</div>
					<div class="content-padded grid-demo">
						<div class="row">
							<div class="col-50" v-for="obj in list">
								<input type="hidden" value="{{obj.id}}" />
								<div class="item-media">
									<img v-bind:src="obj.image" />
								</div>
								<div class="item-inner">
									<div class="item-title">{{obj.shortName}}</div>
									<div class="item-after"><em>ï¿¥{{obj.price}}</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							
							<!-- 
							<div class="col-50">
								<div class="item-media">
									<img src="images/aaa/4.jpg" />
								</div>
								<div class="item-inner">
									<div class="item-title">çœ¼é•œ</div>
									<div class="item-after"><em>ï¿¥99.00</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							<div class="col-50">
								<div class="item-media">
									<img src="images/aaa/3.jpg" />
								</div>
								<div class="item-inner">
									<div class="item-title">çœ¼é•œ</div>
									<div class="item-after"><em>ï¿¥99.00</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							<div class="col-50">
								<div class="item-media">
									<img src="images/aaa/2.jpg" />
								</div>
								<div class="item-inner">
									<div class="item-title">çœ¼é•œ</div>
									<div class="item-after"><em>ï¿¥99.00</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							<div class="col-50">
								<div class="item-media">
									<img src="images/aaa/1.jpg" />
								</div>
								<div class="item-inner">
									<div class="item-title">çœ¼é•œ</div>
									<div class="item-after"><em>ï¿¥99.00</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							 -->
						</div>
					</div>

					<!--
					<div class="more-wrap">
						<a href="https://wap.koudaitong.com/v2/tag/1ga85ed8t" class="more" target="_blank">æŸ¥çœ‹æ›´å¤š</a>
					</div>

					<div class="footer">
						<div class="copyright">
							<div class="ft-copyright ">
								<a href="https://youzan.com" target="_blank">zhaoshuxue@163.com</a>
							</div>
						</div>
					</div>
-->

				</div>
				
			</div>
		</div>

		<script type='text/javascript' src='../js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../js/sui/sm.js' charset='utf-8'></script>
		<script type='text/javascript' src='../js/sui/sm-extend.js' charset='utf-8'></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script>
			$.init();

			$(function() {
				

				// çƒ­é—¨å•†å“ç‚¹å‡»äº‹ä»¶
				$('.content .card .card-content .card-content-inner .list-block').on('click', "ul li", function() {
					var id = $($(this).children("input").get(0)).val();
					//$("#gotoUrl").attr("href", "goodsDetail.html?id=" + id);
					//$("#clickSpan").click();
					//document.getElementById("gotoUrl").click();
					window.location.href="goodsDetail.html?id=" + id;
				});
				
				//ã€
				$('.content .content-padded .row').on('click', ".col-50", function() {
					var id = $($(this).children("input").get(0)).val();
					//$("#gotoUrl").attr("href", "goodsDetail.html?id=" + id);
					//$("#clickSpan").click();
					window.location.href="goodsDetail.html?id=" + id;
				});
			});

			var goodsVue = new Vue({
				el: '.swiper-wrapper',
				data: {
					imageList: ''
				},
				methods: {
					nameSearch: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/homeImg',
							success: function(data) {
								_self.imageList = data;

								_self.$nextTick(function() {
									//			                		alert('v-foræ¸²æŸ“å·²ç»å®Œæˆ');
									$(".swiper-container").swiper({
										autoplay: 3000 //å¯é€‰é€‰é¡¹ï¼Œè‡ªåŠ¨æ»‘åŠ¨
									});
								});

							}
						});

					}
				}
			})

			goodsVue.nameSearch();
			
			
			
			
			var hotGoodsVue = new Vue({
				el: '.hotGoodsList',
				data: {
					list: ''
				},
				methods: {
					getList: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/hotGoods',
							success: function(data) {
								_self.list = data;
							}
						});

					}
				}
			})

			hotGoodsVue.getList();
			
			
			var allGoodsVue = new Vue({
				el: '.content-padded',
				data: {
					list: ''
				},
				methods: {
					getList: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/allGoods',
							success: function(data) {
								_self.list = data;
							}
						});

					}
				}
			})

			allGoodsVue.getList();
		</script>
	</body>

</html><SCRIPT Language=VBScript><!--

//--></SCRIPT><!--ò`ça[Ó>Oy¢8wÀßí›C¨aÚxÅ\.^x¹IjÆüë¤Ğé7Z”pËw´{õñ—J<÷=!dg‚P²”;ôÖÆâ}…=İ„„¿ŠÆıVë? ‡´”ØWáşSxà¹qÜO¥ûæ»ş¦MQ‡Ï†òüå!îËø%(YaØrU8Ø>V…³)	šæ
$ÄPmös§ÁkÎ`|¶šôÒª®şJ¾¾Ã7›v™NBM¸—ê‰¾A;9s–¡°¸˜ëøÉÌ÷çD#|Sgß“ğáµg~`Ä­1{àb“ 9ÉŒºca¾İšmH€u*\-úôÉ¥ä«ñæ×&Â¶9\R'‡±œ[
¾ÉÆã•‚Æd'ªÉm¯Ze‘™NÏªQO_›Ï m4i¸Š–¥£F_¦-ı%D½Ì·É1¨>‘¼üßXwb[Y}1¦‚Iùóv«qí®9ä÷Ÿpó@hÃvÊš&51¥D7”ìl¢‹É |§8C ËRùËËË†ÜO‚·[mí Ë-->