<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zsx.web.dao.UserMapper">

	<select id="selectByPrimaryKey" resultType="com.zsx.web.entity.User">
		select `id`
		,`username` ,`password` from t_user where `id` = #{id}
	</select>

	<insert id="insert" parameterType="com.zsx.web.entity.User"
		useGeneratedKeys="true">
		insert into t_user (`id` ,`name` ,`pwd` ) values
		(#{id},#{name},#{pwd})
	</insert>

	<delete id="deleteByPrimaryKey">
		delete from t_user where `id` = #{id}
	</delete>

	<!-- <update id="updateByPrimaryKey" parameterType="com.zsx.web.domain.User" 
		> update user set `name` = #{name},`pwd` = #{pwd},`id` = #{id},`name` = #{name},`pwd` 
		= #{pwd} where `id` = #{id} </update> -->

	<!-- 直接执行sql语句 -->
	<select id="executeSQL" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		${sql}
	</select>

</mapper>