<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品详情页面</title>
		<link rel="stylesheet" href="/js/sui/sm.min.css">
		<link rel="stylesheet" href="/js/sui/sm-extend.min.css">
		<link rel="stylesheet" href="/js/sui/style.css" />
		<style>
			.popup {
				position: absolute;
				left: 0;
				bottom: 0;
				top: auto;
				height: auto;
			}
			
			.icon-cart-me-2{
				float: right;
				margin: 0 .5rem .2rem 0;
			}
			
			.row img {
				width: 100%;
				height: auto;
			}
			
			.col-50 {
				border: 1px solid #e5e5e5;
				margin: 4px 0;
			}
		</style>
	</head>

	<body>
		<div class="page-group">
			<div class="page page-current">
				<!-- 你的html代码 -->

				<!-- 标题栏 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left open-panel" href="javascript: history.go(-1);"></a>

					<h1 class="title">中大眼科</h1>
				</header>

				<nav class="bar bar-tab">
					<a class="tab-item external" href="#">
						<span class="icon icon-home"></span>
						<span class="tab-label">客服</span>
					</a>
					<a class="tab-item external active" href="#">
						<span class="icon icon-cart"></span>
						<span class="tab-label">购物车</span>
					</a>
					<a class="tab-item external" href="#" style="width: 2%;background: #FF8854;color: #FFFFFF;">
						<span class="tab-label">加入购物车</span>
					</a>
					<a class="tab-item external" href="#" style="width: 2%;background: #FF4443;color: #FFFFFF;">
						<span class="tab-label">立即购买</span>
					</a>
				</nav>

				<div class="content">

					<div class="card demo-card-header-pic">
						<div class="swiper-container" style="padding-bottom: 0px; border-bottom: 1px solid #ddd;">
							<div class="swiper-wrapper">
								<div class="swiper-slide" v-for="image in imageList">
									<img v-bind:src="image.url" alt="" style='width: 100%'>
								</div>
							</div>
							<!--  -->
							<div class="swiper-pagination me-swiper"></div>

						</div>
						<!--<div valign="bottom" class="card-header color-white no-border no-padding">
							<img class='card-cover' src="images/1.png" alt="">
						</div>-->
						<div class="card-content">
							<div class="card-content-inner">
								<p>{{longName}}</p>
								<em>￥{{price}}</em>
							</div>
						</div>
						<div class="card-footer">
							<p class="color-gray">运费：免运费</p>
							<p class="color-gray">剩余：{{sellNum}}</p>
							<p class="color-gray">销量：{{totalNum}}</p>
						</div>
					</div>

					<div class="card">
						<div class="card-content">
							<div class="card-content-inner  create-popup">
								<span>选择：眼镜规格</span>
								<span class="icon icon-right" style="float: right;"></span>
							</div>

						</div>

					</div>

					<div class="card">
						<div class="card-header">商品说明</div>
						<div class="card-content">
							<div class="card-content-inner">
								{{detail}}
							</div>
						</div>
						<div class="card-footer">其他内容</div>
					</div>

					<!-- 其它商品 -->
					<div class="content-block-title">选购其他商品</div>
					<div class="content-padded grid-demo">
						<div class="row">
							
							<div class="col-50" v-for="obj in list">
								<input type="hidden" value="{{obj.id}}" />
								<div class="item-media">
									<img v-bind:src="obj.image" />
								</div>
								<div class="item-inner">
									<div class="item-title">{{obj.shortName}}</div>
									<div class="item-after"><em>￥{{obj.price}}</em></div>
									<span class="icon icon-cart icon-cart-me-2"></span>
								</div>
							</div>
							
							
						</div>
					</div>

					<!-- About Popup -->
					<div id="zhao">
						<div class="popup popup-about">
							<div class="content-block" style="padding-bottom:2.5rem;">
								<a href="#" class="close-popup" style="float: right;">X</a>
								<!-- 商品说明 -->
								<div>
									<img src="images/aaa/5.jpg" style="width: 100px;" />
									<span>新款眼镜</span>
									<span><em>￥50.00</em></span>
								</div>
								<!-- 规格选择 -->
								<div>
									
								</div>
								
								<!-- 购买数量 -->
								<div>
									<p>购买数量：</p>
									<span>剩余：15</span>
								</div>
								
								<!-- 操作按钮 -->
								<div>
									<nav class="bar bar-tab">
										<a class="tab-item external" href="#" style="background: #FF8854;color: #FFFFFF;">
											<span class="tab-label">加入购物车</span>
										</a>
										<a class="tab-item external" href="#" style="background: #FF4443;color: #FFFFFF;">
											<span class="tab-label">立即购买</span>
										</a>
									</nav>
								</div>
							</div>
						</div>
						
					</div>

				</div>

			</div>
		</div>

		<script type='text/javascript' src='/js/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/sui/sm.js' charset='utf-8'></script>
		<script type='text/javascript' src='/js/sui/sm-extend.js' charset='utf-8'></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script>
			$.init();
			
			function getQueryString(name) { 
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
				var r = window.location.search.substr(1).match(reg); 
				if (r != null) return unescape(r[2]); 
				return null; 
			}
			
			var id = getQueryString("id");

			$(function() {
				$(".swiper-container").swiper({
					autoplay: 3000 //可选选项，自动滑动
				})
			});
			
			
			var goodsImageListVue = new Vue({
				el: '.swiper-wrapper',
				data: {
					imageList: ''
				},
				methods: {
					getImages: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/goodsImages?id=' + id,
							success: function(data) {
								_self.imageList = data;

								_self.$nextTick(function() {
									//			                		alert('v-for渲染已经完成');
									$(".swiper-container").swiper({
										autoplay: 3000 //可选选项，自动滑动
									});
								});

							}
						});

					}
				}
			})

			goodsImageListVue.getImages();
			
			
			var allGoodsVue = new Vue({
				el: '.content-padded',
				data: {
					list: ''
				},
				methods: {
					getList: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/allGoods',
							success: function(data) {
								_self.list = data;
							}
						});

					}
				}
			})

			allGoodsVue.getList();
			
			
			var goodsDetailVue = new Vue({
				el: '.content',
				data: {
					longName: '',
					price: '',
					totalNum: '',
					sellNum: '',
					detail: ''
				},
				methods: {
					getData: function() {

						var _self = this;
						$.ajax({
							type: 'GET',
							url: '/app/goodsDetail?id=' + id,
							success: function(data) {
								_self.longName = data.longName;
								_self.price = data.price;
								_self.totalNum = data.totalNum;
								_self.sellNum = data.sellNum;
								_self.detail = data.detail;

							}
						});

					}
				}
			})

			goodsDetailVue.getData();
			
			
			
			

			$(document).on('click', '.create-popup', function() {
				var popupHTML = '<div class="popup">' +
					'<div class="content-block">' +
					'<p>Popup created dynamically.</p>' +
					'<p><a href="#" class="close-popup">Close me</a></p>' +
					'</div>' +
					'</div>'
//				$.popup(popupHTML);
				$.popup($("#zhao").html());
			});
			
			
			
		</script>
	</body>

</html>